body {
    font-family: 'Poppins', sans-serif;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1.title,
h1.title-mobile {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.title-mobile {
    display: none;
}

.highlight {
    color: #075EB2;
}

#view {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#sidebar {
    width: 250px;
    background: #E3E6F3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
}


.content {
    padding: 1rem;
}

.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.logo-image {
    width: 90%;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.text {
    text-align: center;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.role {
    font-size: 1rem;
    color: #777;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-section {
    margin-bottom: 1.5rem;
}

.section-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #075EB2;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #000000; /* Couleur de texte et icônes pour les éléments de menu */
    text-decoration: none;
    transition: all 0.3s ease; /* Transition fluide */
    font-size: 1rem;
}

.menu-item img {
    margin-right: 0.5rem;
    width: 16px; /* Taille des icônes ajustée */
    height: 16px; /* Taille des icônes ajustée */
    transition: all 0.3s ease; /* Transition fluide pour les icônes */
}

.menu-item:hover {
    background: #075EB2; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte et des icônes au survol */
    transform: scale(1.05); /* Agrandissement au survol */
}

.menu-item:hover img {
    filter: brightness(0) invert(1); /* Inverse les couleurs des icônes au survol pour les rendre blanches */
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        position: static;
        transform: none;
    }

    .title {
        display: none;
    }

    .title-mobile {
        display: block;
    }
}
